.env
/generated/prisma
/node_modules

# https://console.prisma.io/cmbtt9qxg011zljr94akmuws8/cmbttceca0077c7liqbfw5fxt/cmbttceca0073c7lieyp5e8aj/dashboard
# prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKWE0yVjZGVkNKTlMzNjQyU1BaQjY4MkUiLCJ0ZW5hbnRfaWQiOiJlYzBhZThhZmQ3MjFmODQ2Y2Q4Yjg0OTMxZjJmM2E5MGU0MWViZDA0OTkzMjYxOTVjYjVhMzQzZGU3ZWEyMzQ4IiwiaW50ZXJuYWxfc2VjcmV0IjoiZDVlOTVhZjEtN2QwYi00MjFhLTlhNTYtNWU0NzNhYTNiMTM1In0.9bE-niZIpam11JvMSwbpXp3oGQeuosGW8Ue1FFfUafc